// Breakpoints
@mixin media-breakpoint-up($size) {
   @media screen and (min-width: $size) {
      @content;
   }
}

@mixin button {
   display: inline-block;
   text-decoration: none;
   outline: 0;
   border: 0;
   font-family: inherit;
   font-size: 1.4rem;
   line-height: 1;
   cursor: pointer;
   background: transparent;
}
