// Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);
$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$vary-light-gray: hsl(0, 0%, 98%);

// Font weights
$font-weights: (
   "regular": 400,
   "medium": 500,
   "bold": 700,
);

// Breakpoints
$breakpoints: (
   "xs": 414px,
   "sm": 576px,
   "md": 768px,
   "lg": 992px,
   "xl": 1200px,
   "xxl": 1400px,
);
